<!DOCTYPE html>
<html>
  <head>
    <title>
      Url Shortner
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    <h3>URL Shortner</h3>
    <form method='post'>
      <div class="form-group">
        <label for="exampleInputEmail1">URL</label>
        <input type="text" name='url' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Url">
      </div>
      <button type="submit" class="btn btn-primary">Shorten</button>
    </form>
  </body>
</html>
